.units-fields-wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 100%;
  gap: var(--mantine-spacing-xs);

  & > :global(.mantine-ThemeIcon-root) {
    transform: rotate(90deg);
  }

  & > * {
    width: 100%;
  }


  @media (min-width: $mantine-breakpoint-xs) {
    flex-direction: row;

    & > :global(.mantine-ThemeIcon-root) {
      transform: unset;
    }

    & > * {
      width: auto;
    }
  }
}
