.units {
  width: 100%;

  @media (min-width: $mantine-breakpoint-md) {
    max-width: 45%;
  }
}

.info_sections {
  & > * {
    width: 100%;
  }

  @media (min-width: $mantine-breakpoint-md) {
    & > * {
      max-width: 45%;
    }
  }
}
