.units-fields-wrapper {
  flex-wrap: wrap;
  flex-direction: column;
  width: 100%;
  gap: var(--mantine-spacing-xs);

  & > :global(.mantine-ThemeIcon-root) {
    transform: rotate(90deg);
  }


  @media (min-width: $mantine-breakpoint-md) {
    flex-wrap: nowrap;
    flex-direction: row;

    & > :global(.mantine-ThemeIcon-root) {
      transform: unset;
    }
  }
}
